@import "./partials/variables";
@import "./partials/nav&footer";

//index//

.contenedorPrincipal {
    display: grid;
    width: 100%;
    height: auto;
    border: solid 3px $color-principal;
    border-radius: $radius;
    margin: 15px 0px 15px 0px;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "img1 texto img2"
    "acceso1 acceso2 acceso3"
    "parrafo parrafo parrafo"
    "aliados aliados aliados";
    .localidadImg {
        grid-area: img1;
        justify-self: center;
        align-self: center;
    }
    img {
        width: 100%;
        height: auto;
        border: $borde;
        border-radius: $radius;
        align-items: center;
    }
    .oficinaImg {
        grid-area: img2;
        justify-self: center;
        align-self: center;
    }
    .contHijoPrincipal {
        border: $borde;
        background-color: $color-principal;
        grid-area: texto;
        text-align: center;
        border-radius: $radius;
        margin-top: 20px;
    }
    .pAlquileres, .pSumate, .pContactos{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: $radius;
        border: $borde;
        min-height: 600px;
        width: 80%;
        font-size: 45px;
        color: white;
        justify-self: center;
        align-content: center;
        text-align: center;
    }
    .pAlquileres:hover,
    .pSumate:hover,
    .pContactos:hover {
    color: black;
    transform: scale(1.1 ,1.1);
    transition: transform 1s ease-in-out;
    }
    .pAlquileres {
        background-image: url(https://d1v2p1s05qqabi.cloudfront.net/sites/340/media/17310173328.webp?v=79);
        grid-area: acceso1;
    }
    
    .pSumate {
        background-image: url(https://d1v2p1s05qqabi.cloudfront.net/sites/340/media/173093011750.webp?v=79);
        grid-area: acceso2;
    }
    
    .pContactos {
        background-image: url(https://d1v2p1s05qqabi.cloudfront.net/sites/340/media/173101728532.webp?v=79);
        grid-area: acceso3;
    }
    
    .pAliados {
        grid-area: parrafo;
        background-color: $color-principal;
        text-align: center;
        font-size: 25px;
        border-radius: $radius;
        margin: 30px;
    }
    .contenedorInterno {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "img1 img2 img3 img4";
    grid-area: aliados;
    gap: 10px;
    max-width: 100%;
    min-height: 25px;
    .img1, .img2, .img3, .img4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
    }
    .img1 img, .img2 img, .img3 img, .img4 img {
        max-width: 100%;
        height: auto;
        border-radius: $radius;
    }         
    }
}

//ventas//

.eleccion {
    text-align: center;
    background-color: $color-principal;
    margin: 15px;
    border-radius: $radius;
    width: auto;
    height: auto;
}

.carrusel2 {
    max-width: 80%;
    height: auto;
    border: $borde;
    border-radius: $radius;
    justify-self: center;
    margin-bottom: 15px;
}

.botoncito {
    background-color: $color-principal;
}

//alquileres

.text {
    display: none;
}

.contPrincipal {
    .contAlquiler1{
        display: flex;
        border: $borde;
        border-radius: $radius;
        min-height: 400px;
        width: auto;
        text-align: center;
        align-items: center;
        gap: 15px;
        margin: 20px;
        background-color: $color-principal;
        font-size: 20px;
    }

    .contAlquiler2, .contAlquiler3 {
        @extend .contAlquiler1
    }

    .contAlquiler1 img:hover,
    .contAlquiler2 img:hover,
    .contAlquiler3 img:hover{
        transform: scale(1.1, 1.3);
        transition: transform 1s ease-in-out;
    }
    .contAlquiler1 img,
    .contAlquiler2 img,
    .contAlquiler3 img {
        width: 100%;
        max-width: 40%;
        height: auto;
        object-fit: cover;
        border-radius: 15px;
        margin: 20px;
        display: block;
    }
    
    .divPrecio {
        display: flex;
        background-color: white;
        border: solid 3px black;
        border-radius: 15px;
        text-align: center;
        margin-right: 20px;
    }
    .contAlquiler1 {
        grid-area: alq1;
    }

    .contAlquiler2 {
        grid-area: alq2;
    }

    .contAlquiler3 {
        grid-area: alq3;
    }
}

//contactos

.mapa {
    background-color: coral;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: solid 3px black;
    width: 50%;
    min-height: 400px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;

}

//sumate 

.formulario {
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    margin-top: 30px;
    padding: 40px;
    min-height: 500px;
    font-size: 20px;
    h1 {
        background-color: coral;
        border: solid 3px black;
        text-align: center;
}
}

.carrusel1 {
    display: none;
}

footer {
    @include footer;
}

@import "./partials/mediaq";

