* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-navbar .container-fluid {
    background-color: coral;
}

.logo {
    max-width: 80px;
    min-width: 80px;
    object-fit: cover;
}

.text {
    display: none;
}

.contAlquiler1, .contAlquiler2, .contAlquiler3 {
    display: flex;
    border: solid 3px black;
    border-radius: 15px;
    min-height: 400px;
    width: auto;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin: 20px;
    background-color: coral;
    font-size: 20px;
}

.contAlquiler1 img {
    object-fit: cover;
    border-radius: 15px;
    height: auto;
    width: 35%;
    margin: 20px;
}

.contAlquiler2 img {
    object-fit: cover;
    border-radius: 15px;
    height: auto;
    width: 35%;
    margin: 20px;
}

.contAlquiler3 img {
    object-fit: cover;
    border-radius: 15px;
    height: auto;
    width: 100%;
    margin: 20px;
}

.divPrecio {
    display: flex;
    background-color: white;
    border: solid 3px black;
    border-radius: 15px;
    text-align: center;
    margin-right: 20px;
}

.contAlquiler1 {
    grid-area: alq1;
}

.contAlquiler2 {
    grid-area: alq2;
}

.contAlquiler3 {
    grid-area: alq3;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130px;
    background-color: coral;
    border: solid 3px black;
}

footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
    width: 50%;
}

footer img {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}

footer div  {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    width: 50%;
    height: auto;
    color: black;
}

@media (max-width: 768px) {
    .contPrincipal {
        display: grid;
        grid-template-areas: 
        "alq1"
        "alq2"
        "alq3";
        width: 100%;
    }

    .contAlquiler1, .contAlquiler2, .contAlquiler3 {
        flex-direction: column;
    }

    .contAlquiler1 img {
        object-fit: cover;
        border-radius: 15px;
        height: auto;
        width: 80%;
        margin: 20px;
    }

    .contAlquiler2 img {
        object-fit: cover;
        border-radius: 15px;
        height: auto;
        width: 80%;
        margin: 20px;
    }

    .contAlquiler3 img {
        object-fit: cover;
        border-radius: 15px;
        height: auto;
        width: 85%;
        margin: 20px;
    }

    .divPrecio {
        padding: 10px;
        margin-bottom: 10px;
    }

    .text {
        display: block;
        border: solid 3px black;
        border-radius: 15px;
        text-align: center;
        margin-top: 15px;
        background-color: coral;
        margin: 15px 10px 0px 10px;
    }

}