* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-navbar .container-fluid {
    background-color: coral;
}

.logo {
    max-width: 80px;
    min-width: 80px;
    object-fit: cover;
}

.mapa {
    background-color: coral;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: solid 3px black;
    width: 50%;
    min-height: 400px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130px;
    background-color: coral;
    border: solid 3px black;
}

footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
    width: 50%;
}

footer img {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}

footer div  {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    width: 50%;
    height: auto;
    color: black;
}