* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-navbar {
    background-color: coral !important;
}

.logo {
    max-width: 80px;
    min-width: 80px;
    object-fit: cover;
}

.mapa {
    background-color: coral;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: solid 3px black;
    width: 50%;
    min-height: 400px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer {
    background-color: coral;
    text-align: center;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}