* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-navbar {
    background-color: coral !important;
}

.logo {
    max-width: 80px;
    min-width: 80px;
    object-fit: cover;
}

.contenedorPrincipal {
    display: grid;
    width: 100%;
    height: auto;
    border: solid 3px coral;
    border-radius: 15px;
    margin: 15px 0px 15px 0px;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "img1 texto img2"
    "acceso1 acceso2 acceso3"
    "parrafo parrafo parrafo"
    "aliados aliados aliados";
}

.contenedorPrincipal img {
    width: 100%;
    height: auto;
    border: solid black 3px;
    border-radius: 15px;
    align-items: center;
}

.localidadImg {
    grid-area: img1;
    justify-self: center;
    align-self: center;
}

.oficinaImg {
    grid-area: img2;
    justify-self: center;
    align-self: center;
}

.contHijoPrincipal {
    border: solid 3px black;
    background-color: coral;
    grid-area: texto;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
}

.pAlquileres, .pSumate, .pContactos{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: solid 3px black;
    min-height: 600px;
    width: 80%;
    font-size: 45px;
    color: white;
    justify-self: center;
    align-content: center;
    text-align: center;
}

.pAlquileres {
    background-image: url(https://d1v2p1s05qqabi.cloudfront.net/sites/340/media/17310173328.webp?v=79);
    grid-area: acceso1;
}

.pSumate {
    background-image: url(https://d1v2p1s05qqabi.cloudfront.net/sites/340/media/173093011750.webp?v=79);
    grid-area: acceso2;
}

.pContactos {
    background-image: url(https://d1v2p1s05qqabi.cloudfront.net/sites/340/media/173101728532.webp?v=79);
    grid-area: acceso3;
}

.pAliados {
    grid-area: parrafo;
    background-color: coral;
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    margin: 30px;
}

.contenedorInterno {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "img1 img2 img3 img4";
    grid-area: aliados;
    gap: 10px;
    max-width: 100%;
    min-height: 25px;
}

.img1, .img2, .img3, .img4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.img1 img, .img2 img, .img3 img, .img4 img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.carousel{
    display: none;
}

footer {
    background-color: coral;
    text-align: center;
    height: auto;
    justify-content: center;
    align-items: center;
}

/* media queries */

@media (max-width: 768px) {
    .contenedorPrincipal {
        display: grid;
        grid-template-areas: 
        "img1"
        "texto"
        "parrafo"
        "aliados";
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contenedorInterno, .pAlquileres, .pContactos, .pSumate{
        display: none;
    }

    .oficinaImg {
        display: none;
    }

    .carousel {
        display: block;
        grid-area: aliados;
    }
}