* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-navbar {
    background-color: coral !important;
}

.logo {
    max-width: 80px;
    min-width: 80px;
    object-fit: cover;
}

.formulario {
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    margin-top: 30px;
    padding: 40px;
    min-height: 500px;
    font-size: 20px;
}

.formulario h1 {
    background-color: coral;
    border: solid 3px black;
}