* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-navbar {
    background-color: coral !important;
}

.logo {
    max-width: 80px;
    min-width: 80px;
    object-fit: cover;
}

.eleccion {
    text-align: center;
    background-color: coral;
    margin: 15px;
    border-radius: 15px;
    width: auto;
    height: auto;
}

.carruselBoots {
    max-width: 80%;
    height: auto;
    border: solid 3px black;
    border-radius: 15px;
    justify-self: center;
}

.my-boton {
    background-color:  coral !important;
}