@media (max-width: 768px) {
    .contenedorPrincipal {
        display: grid;
        grid-template-areas: 
        "img1"
        "texto"
        "parrafo"
        "aliados";
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contenedorPrincipal .contenedorInterno, .pAlquileres, .pContactos, .pSumate {
        display: none;
    }

    .oficinaImg {
        display: none;
    }

    .carrusel1 {
        display: block;
        grid-area: aliados;
    }

    footer .redes{
        width: 50%;
        gap:5px
    }

    footer div {
        width: auto;
    }

    //alquileres 

    .contPrincipal {
        display: grid;
        grid-template-areas: 
        "alq1"
        "alq2"
        "alq3";
        width: 100%;
    }

    .contAlquiler1, .contAlquiler2, .contAlquiler3 {
        flex-direction: column;
    }

    .contAlquiler1 img {
        object-fit: cover;
        border-radius: 15px;
        height: auto;
        width: 80%;
        margin: 20px;
    }

    .contAlquiler2 img {
        object-fit: cover;
        border-radius: 15px;
        height: auto;
        width: 80%;
        margin: 20px;
    }

    .contAlquiler3 img {
        object-fit: cover;
        border-radius: 15px;
        height: auto;
        width: auto;
        margin: 20px;
    }

    .divPrecio {
        padding: 10px;
        margin-bottom: 10px;
    }

    .text {
        display: block;
        border: solid 3px black;
        border-radius: 15px;
        text-align: center;
        margin-top: 15px;
        background-color: coral;
        margin: 15px 10px 0px 10px;
    }
}