@import "./variables";

@media (max-width: 768px) {
    //index
    .contenedorPrincipal {
        display: grid;
        grid-template-areas: 
        "img1"
        "texto"
        "parrafo"
        "aliados";
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contenedorPrincipal .contenedorInterno, .pAlquileres, .pContactos, .pSumate {
        display: none;
    }

    .oficinaImg {
        display: none;
    }

    .carrusel1 {
        display: block;
        grid-area: aliados;
    }

    footer .redes{
        width: 50%;
        gap:5px
    }

    footer div {
        width: auto;
    }

    //alquileres 

    .contPrincipal {
        display: grid;
        grid-template-areas: 
        "alq1"
        "alq2"
        "alq3";
        width: 100%;
    }

    .contAlquiler1, .contAlquiler2, .contAlquiler3 {
        flex-direction: column;
    }

    .contAlquiler1 img {
        object-fit: cover;
        border-radius: $radius;
        height: auto;
        width: 80%;
        margin: 20px;
    }

    .contAlquiler2 img {
        object-fit: cover;
        border-radius: $radius;
        height: auto;
        width: 80%;
        margin: 20px;
    }

    .contAlquiler3 img {
        object-fit: cover;
        border-radius: $radius;
        height: auto;
        width: auto;
        margin: 20px;
    }

    .divPrecio {
        padding: 10px;
        margin-bottom: 10px;
    }

    .text {
        display: block;
        border: $borde;
        border-radius: $radius;
        text-align: center;
        margin-top: 15px;
        background-color: $color-principal;
        margin: 15px 10px 0px 10px;
    }

    //sumate
    .formulario{
        display: block;
        width: 100%;
        border: $borde;
        border-radius: $radius;
        h1 {
            border-radius: $radius;
        }
        textarea,
        input {
            width: 100%;
        }
    }

    //contactos

    .mapa {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        iframe {
            height: 300px;
            width: 100%;
        }
        .info {
            list-style-type: none;
            .info1 {
                list-style-type: square;
            }
        }
    }

}