@import "./variables";

@media (max-width: 767px) {

    body {
        height: 100vh;
    }

    //index
    .contenedorPrincipal {
        display: grid;
        grid-template-areas: 
        "img1"
        "texto"
        "parrafo"
        "aliados";
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contenedorPrincipal .contenedorInterno, .pAlquileres, .pContactos, .pSumate {
        display: none;
    }

    .oficinaImg {
        display: none; 
    }

    .carrusel1 {
        display: block;
        grid-area: aliados;
    }

    footer .redes{
        width: 50%;
        gap:5px
    }

    footer div {
        width: auto;
    }

    //alquileres 

    .contPrincipal {
        display: grid;
        grid-template-areas: 
        "alq1"
        "alq2"
        "alq3";
        width: 100%;
    }

    .contAlquiler1, .contAlquiler2, .contAlquiler3 {
        flex-direction: column;
    }

    .contAlquiler1 img {
        object-fit: cover;
        border-radius: $radius;
        height: auto;
        width: 80%;
        margin: 20px;
    }

    .contAlquiler2 img {
        object-fit: cover;
        border-radius: $radius;
        height: auto;
        width: 80%;
        margin: 20px;
    }

    .contAlquiler3 img {
        object-fit: cover;
        border-radius: $radius;
        height: auto;
        width: auto;
        margin: 20px;
    }

    .divPrecio {
        padding: 10px;
        margin-bottom: 10px;
    }

    .text {
        display: block;
        border: $borde;
        border-radius: $radius;
        text-align: center;
        margin-top: 15px;
        background-color: $color-principal;
        margin: 15px 10px 0px 10px;
    }

    //sumate
    .formulario{
        display: block;
        max-width: 100%;
        border: $borde;
        border-radius: $radius;
        h1 {
            border-radius: $radius;
        }
        textarea,
        input {
            width: 100%;
        }
    }

    //contactos

    .mapa {
        .cuerpo{
            display: grid;
        }
    }

}

@media (min-width: 768px) and (max-width: 1023px) {


    //index
    .contenedorPrincipal{
        display: grid;
        grid-template-areas:
        "img1 img2"
        "texto texto"
        "parrafo parrafo"
        "aliados aliados";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .pAlquileres, .pContactos, .pSumate, .contenedorPrincipal .contenedorInterno{
        display: none;
    }

    .carrusel1{
        display: flex;
        grid-area: aliados;
        align-items: center;
        justify-content: center;
        height: auto;
        overflow: visible;
    }

    //alquileres
    .contPrincipal{
        display: grid;
        grid-template-areas: 
        "alqu1"
        "alqu2"
        "alqu3";
        gap: 20px;
        grid-template-rows: repeat(3, 1fr);
        .contAlquiler1{
            flex-direction: column;
            justify-content: start;
            align-items: center;
            text-align: center;
            height: auto;
            grid-area: alqu1;  
        }
        .contAlquiler2{
            flex-direction: column;
            justify-content: start;
            align-items: center;
            text-align: center;
            height: 100%;
            grid-area: alqu2; 
        }
        .contAlquiler3 {
            flex-direction: column;
            justify-content: start;
            align-items: center;
            text-align: center;
            height: auto;

            grid-area: alqu3;
        }
        .contAlquiler1, .contAlquiler2, .contAlquiler3{
            img {
                display: block;
                min-width: 20%;
                height: auto;
            }

            .descripcion {
                margin: 15px;
                border: $borde;
                border-radius: $radius;
            }
            
            .divPrecio {
                margin-bottom: 10px;
            } 
        }
    }

    //contacto

    .mapa {
        margin: 0;
        max-width:  100%;
        height: auto;
    }
    
}